.terminal-popover {
  right: 0.5em;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 0;
  overflow: hidden;

  &.right {
    right: 5rem;
  }

  @media (max-width: $lg) {
    right: 0;

    &.bottom {
      bottom: 0;
    }
  }

  @media (min-width: $lg) {
    height: 300px;
    max-width: 450px;
    margin-left: 3px;
  }
}

.terminal-popover-toggle {
  right: 16px;

  &.right {
    right: 5.5rem;
  }
}
