.terminal-popover {
  top: unset !important;
  right: 0.5em !important;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 0;
  overflow: hidden;

  &.right {
    right: 5rem !important;
  }

  &.bottom {
    bottom: 5em !important;
  }
  
  @media (max-width: $lg) {
    right: 0;

    &.bottom {
      bottom: 0;
    }
  }

  @media (min-width: $lg) {
    height: 300px;
    max-width: 450px;
    inset-inline-start: unset !important;
  }
}
